<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Configuration</title>
    </head>
    <body>
    <h1>Key is : @ViewBag.MyApiKey</h1>
    <h4>Weather id is : @ViewBag.WeatherId</h4>
    <h4>Weather url is : @ViewBag.WeatherUrl</h4>
    </body>
</html>