@model Person

<h1>Welcome Home</h1>
<a asp-controller="Home" asp-action="GetPersonDetails">Go to person details</a>

<br />
<img src="~/asp-logo.png" width="40" asp-append-version="true"/>

<form asp-controller="Home" asp-action="GetPersonDetails" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Job"></label>
    <input asp-for="Job" class="form-control" />
    <span asp-validation-for="Job"></span>
    <br />
    <label class="mt-4">Select</label>
    <select class="form-select mt-2" asp-items="@ViewBag.AllAnimes">
        <option value="">Please Select</option>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    <div asp-validation-summary="All"></div>
</form>


<a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-personName="@Model.Name">Edit</a>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
}