@model IEnumerable<Book>
@{
    ViewBag.Title = "Books";
}
<ul class="list-group">
    @foreach (Book book in Model)
    {
        <li class="list-group-item">@book.BookId - @book.Author</li>
    }
</ul>