@model Hero;
<div class="row">
    <form class="col s12" asp-controller="Home" asp-action="UpdateHero" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input readonly placeholder="Placeholder" asp-for="Id" class="validate">
                <label asp-for="Id">Id</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="Placeholder" asp-for="Name" class="validate">
                <label asp-for="Name">Name</label>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="input-field col s12">
                <input asp-for="Power" class="validate">
                <label asp-for="Power">Power</label>
                <span asp-validation-for="Power"></span>
            </div>
            <div class="input-field col s12">
                <input asp-for="Rank" class="validate">
                <label asp-for="Rank">Rank</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">
            Update
        </button>
    </form>
</div>

@section script {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
}