@using New_Revision.Models;
@model Person;

@{
    ViewData["Title"] = "Details Tab";
}

<h1>Person found!</h1>
@* @await Component.InvokeAsync("PersonDetails", new *@
@*     { *@
@*         p = Model *@
@*     }) *@
