@using New_Revision.Models;
@model List<Hero>

@{
    ViewData["Title"] = "Home from layout ";
}

<a class="waves-effect waves-light btn" href="/create/hero">Add Hero</a>
<ul class="collection">
    @foreach (Hero hero in Model)
    {
        @* await Html.RenderPartialAsync("_GetPersonPartial", person); *@
        <li class="collection-item">@hero.Name</li>

    }
</ul>
