<h1>Some content</h1>
<h3>Env is : @ViewBag.EnvName</h3>


<environment include="Development">
    <button>Dev Only</button>
</environment>

<environment exclude="Development">
    <button>No Dev Only</button>
</environment>