@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testing Second Layout</title>
</head>
<body>
    <h2>This is Products Layout</h2>
    <div>
        @RenderBody()
    </div>
</body>
</html>
